.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .header {
    padding: 8px 12px;
  }
}
