.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
  .container {
    padding: 10px;
    align-items: flex-start;
    padding-top: 20px;
  }

  .game {
    padding: 8px;
    border-radius: 12px;
  }
}
